.DS_Store
*.env
*.log

# Xcode / Swift
DerivedData/
build/
.build/
.swiftpm/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
